.menuViewController {}

.menuViewController_text1Lbl {
    text-align: center;
    width: 90%;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: darkcyan;
}

.menuViewController_text2Lbl {
    text-align: center;
    width: 90%;
    font-size: 15px;
    margin-bottom: 10px;
    color: #61615d;
}

.menuViewController_navigationBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuViewController_contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuViewController_usernameIn {
    width: 50%;
    height: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;
}

.menuViewController_buttons {
    width: 50%;
    height: 30px;
}

.menuViewController_image {
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
}