.gameViewController{}

.gameViewController_contentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gameViewController_hudContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    height: 60px;
    width: 90%;
    margin-bottom: 5px;
}

.gameViewController_cardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
}

.gameViewController_clicksLbl{
    margin-left: 8px;
    font-size: 16px;
}

.gameViewController_timeLbl{
    margin-left: 8px;
    font-size: 16px;
}

.gameViewController_resetBtn{
    margin-right: 8px;
}