.gameViewController{}

.gameViewController_contentContainer{
    display: flex;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
}

.gameViewController_navigationBar{

}

.gameViewController_navigationBar_titleLbl{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameViewController_navigationBar_backBtn{
    position: fixed;
    margin: 15px 0px 0px 30px;
}

.gameViewController_hudContainer{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    height: 50px;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #c6c4c4;
    color: #22737c;
    font-weight: bolder;
}

.gameViewController_cardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
}

.gameViewController_clicksLbl{
    margin-left: 15px;
    font-size: 17px;
}

.gameViewController_timeLbl{
    margin-left: 8px;
    font-size: 17px;
}

.gameViewController_resetBtn{
    margin-right: 15px;
}