.scoresViewController{
    
}

.scoresViewController_contentContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.scoresViewController_navigationBar{

}

.scoresViewController_navigationBar_titleLbl{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoresViewController_navigationBar_backBtn{
    position: fixed;
    margin: 15px 0px 0px 30px;
}


table {
    width: 90%;
    border-collapse: collapse;
}

th {
    height: 30px;
    color: white;
    background-color: #d24747 ;
}

tr {
    border: 1px solid;
    border-color: #b5bbbb;
    
}

td {
    border: 1px solid;
    border-color:#b5bbbb;
    text-align: center;
    line-height: 22px;
}

.td_name {
    font-weight: bold;
}