.cardView_mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-view-normal);
    width: 80px;
    height: 80px;
    font-size: 40px;
    margin-bottom: 5px; 
    user-select: none;
}

.cardView_disabled {
    pointer-events: none;
}

.cardView_discovered {
    pointer-events: none;
    background-color: var(--card-view-discoverd);
}

